*.zip filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
android/**/*.png filter=lfs diff=lfs merge=lfs -text
android/**/*.jar filter=lfs diff=lfs merge=lfs -text
